/* Base */
html:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--system-ui);
  line-height: 1.48;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
}

a {
  color: var(--link-color);
}

/* input */
input.disabled {
  cursor: not-allowed !important;
  background-color: var(--mist-gray-color);
}

/* Button */
button {
  display: inline-block;
}
button.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button.disabled:hover {
  cursor: not-allowed !important;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.outline-button {
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--mist-gray-color);
}
.outline-button:hover {
  background-color: var(--mist-third-color);
}

.text-button {
  color: var(--primary-color);
  background-color: transparent;
}

.primary-gradient-button {
  background-color: var(--primary-color);
  background-image: var(--gradient-primary-to-third-color);
  color: var(--white-color);
}

.secondary-gradient-button {
  background-color: var(--secondary-color);
  background-image: var(--gradient-secondary-to-third-color);
  color: var(--white-color);
}

/* Input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-color);
  box-shadow: inset 0 0 1000px 1000px var(--mist-third-color);
}

/* Scrollbar */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scrollbar-thumb-bg-color);
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scrollbar-thumb-bg-color);
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: --scrollbar-track-bg-color;
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: --scrollbar-track-bg-color;
}

/* key frames */
@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-8px);
  }
  50% {
    transform: translate(8px);
  }
  75% {
    transform: translate(-8px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner linear 1s infinite;
  will-change: transform;
}

.shake {
  animation: shake 0.5s ease-in-out;
  will-change: transform;
}
